data.txt
games/__pycache__/c4.cpython-37.pyc
games/__pycache__/ttt.cpython-37.pyc
games/__pycache__/chat.cpython-39.pyc
games/__pycache__/hm.cpython-39.pyc
games/__pycache__/c4.cpython-39.pyc 
games/__pycache__/rps.cpython-39.pyc
games/__pycache__/ttt.cpython-39.pyc
games/__pycache__/bts.cpython-39.pyc
games/log.txt
